@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Homemade+Apple:100,200,300,400,500,600,700');

/* --------------------------------------------- Banner and Nav */

.banner-div {
    position: relative
}


.banner-image {
    background-image: url('../images/nogriff.jpg');
    /*    min-height: 150px; */
    height: 495px;
    position: absolute;
    top: -70px;
    left: 0;
    background-repeat: no-repeat;
    /*    background-position: top left; */
    background-size: cover;
    overflow: visible;
}

/* .title-box {
    position: fixed;
    display: inline-block;
    top: 90px;
    left: 20px;
    font-family: 'Homemade Apple', cursive;
    background-color: transparent;
    color: #131a21;
    font-size: 102px;
    z-index: 1;
} */

.nav-row {
    margin-top: 150px;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
    height: 60px;
}

.menuitem {
    height: 60px;
    text-align: center;
    padding: 0;
    background-color: transparent;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 60px;
}

.menuitem a i {
    padding-top: 10px;
    display: block;
    color: #fafafa;
    font-size: 15px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    /*    text-transform: uppercase; */
    font-weight: 300;
    letter-spacing: 2px;
}

.ui-menu-color-news a span {
    color: #131d1f;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}

.ui-menu-color-gigs a span {
    color: #c3c0b1;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}

.ui-menu-color-media a span {
    color: #131d1f;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}

.ui-menu-color-availability a span {
    color: #c3c0b1;
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
}

/* --------------------------------------------- Hover.css */

/*.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.35);
    height: 60px;

} */

/* --------------------------------------------- Footer */

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: black;
    text-align: center;
}

.footer-social-glyphs {
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
}

.inline-block p a i {
    color: #fafafa;
}

#footer-details {
    background-color: #435c78;
    padding-bottom: 25px;

}

/* --------------------------------------------- Content Section */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.scrollable {
    overflow-y: hidden;
}

.news-feed {
    margin: 0;
    background-color: #f19620;
}

.news-block {
    margin: 5px 5px;
    padding: 5px;
    border-radius: 7px;
    background-color: #f9f8f3;
}

.sound-block {
    margin: 15px;
}

/* --------------------------------------------- Media Queries */

@media(min-width:767px) {
    .banner-image {
        min-height: 250px;
    }

    .footer-social-glyphs {
        text-align: center;
        font-size: 35px;
        padding-top: 35px;
    }

    #nav li {
        height: 120px;
    }

    .hvr-sweep-to-bottom:before {
        background: rgba(0, 0, 0, 0.35);
        height: 120px;

    }
}

@media (min-width:767px) and (max-width:991px) {
    .footer-social-glyphs {
        text-align: center;
        font-size: 35px;
        padding-top: 35px;
    }

    #nav li {
        height: 80px;
    }

    .hvr-sweep-to-bottom:before {
        background: rgba(0, 0, 0, 0.35);
        height: 80px;

    }
}

@media(min-width:992px) {
    .banner-image {
        min-height: 350px;
    }

    .menuitem a i {
        padding-top: 45px;

        font-size: 22px;
    }

    #nav li {
        height: 50px;
        margin-top: 70px;
    }



    .banner-image {
        top: -110px;
    }

    .ui-menu-color-news a span {
        color: #131d1f;
        font-weight: bold;
        font-size: 25px;
        font-style: italic;
    }

    .ui-menu-color-gigs a span {
        color: #c3c0b1;
        font-weight: bold;
        font-size: 25px;
        font-style: italic;
    }

    .ui-menu-color-media a span {
        color: #131d1f;
        font-weight: bold;
        font-size: 25px;
        font-style: italic;
    }

    .ui-menu-color-availability a span {
        color: #c3c0b1;
        font-weight: bold;
        font-size: 25px;
        font-style: italic;
    }
}
